<h2>商品詳細</h2>

<div>
  <%= image_tag @item.get_item_image(100,100) %>
</div>

<table>
  <tr>
    <td>商品名</td>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td>商品説明</td>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <td>税込価格(税抜価格)</td>
    <td><%= @item.add_tax_price.to_s(:dalimited) %>(<%= @item.price %>)</td>
  </tr>
</table>

<%= link_to "編集する", edit_admin_item_path %>