<h2>注文情報入力</h2>

<%= form_with model: @order, url: check_path, method: :post  do |f| %>
    <div class="payment_method">
      <p>支払方法</p>
        <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %></br>
        <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
    </div>

    <div class="address_name">
      <p>お届け先</p>
      〒<%= current_customer.postal_code %> <%= current_customer.address %></br>
      <%= current_customer.last_name + current_customer.first_name %>
    </div>

    <%= f.submit "確認画面へ進む" %>
<% end %>

